<html lang="ES">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi Aplicación Web</title>
    </head>
    <body>
      <header>
        <h1>Mi Aplicación Web</h1>
        <nav>
          <ul>
            <li><a href="/modulo">Inicio</a></li>
            <li><a href="/modulo/promedio">Promedio</a></li>
            <li><a href="/modulo/primo">Primo</a></li>
            <li><a href="/modulo/crear">Crear Clase</a></li>
          </ul>
        </nav>
      </header>


